.navbar-nav {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    margin-bottom: 20px; /* Example margin */
  }
 
  .nav-item {
    margin: 0 10px; /* Adjust horizontal spacing */
  }
#links{
    text-decoration: none ;
}
  .active-link {
    color: #ef59f2;; /* Example active link color */
    font-weight: bold; /* Example bold font for active link */
  }
.navbar-toggler-icon{
    color: white;
}
  .navbar-nav .active-link {
    color: #ef59f2;
    font-weight: bold;
  }
 .nav-item:hover {
    color: #ef59f2;

  }